<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileMonitor.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<appSettings>
		<!-- Example SMTP Server -->
		<!-- For gmail, you may need to adjust some of your 'Use less secure apps' settings -->
		<!-- As described here https://support.google.com/accounts/answer/6010255?hl=en -->
		<!-- For other providers check their documentation -->
		<add key="SMTPServer" value="smtp.gmail.com"/>
		<add key="Port" value="587"/>
		<add key="UseSsl" value="true"/>
		<add key="UserName" value=""/>
		<add key="Password" value=""/>				
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FileMonitor.Settings1>
            <setting name="File" serializeAs="String">
                <value />
            </setting>
            <setting name="eMail" serializeAs="String">
                <value />
            </setting>
            <setting name="Period" serializeAs="String">
                <value>5</value>
            </setting>
        </FileMonitor.Settings1>
    </userSettings>
</configuration>